{% set count = 0 %}
{% if pagerfanta.nbResults > 0 %}
    {% for article in pagerfanta.currentPageResults %}
        {% set articlenode = get_node_translation_for(article) %}
        <article class="col-md-4">
            <div class="inner-article">
                <a href="{{ '/'~articlenode.url }}" class="link-image">
                    {{ render_pageparts(article, 'image') }}
                </a>
                <div class="post-info eq-height">
                    <time class="blog-item__head__meta">
                        {{ article.date | localizeddate('medium', 'none') }}
                    </time>
                    <a href="{{ '/'~articlenode.url }}">
                        <h3 class="blog-item__head__title">
                            {{ article.title }}
                        </h3>
                    </a>
                    <p class="text--right blog-item__read-more">
                        <a href="{{ '/'~articlenode.url }}" class="blog-item__read-more__link hvr-bounce-to-right">
                            {{ 'Lire la suite'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </article>
        {% set count = count + 1 %}
    {% endfor %}

    {% if pagerfanta.haveToPaginate() %}
        {{ pagerfanta(pagerfanta, null, {
            'pageParameter': '[page]',
            'prev_message':'<span class="icon--arrow-left pagination__direction-icon"></span>',
            'next_message':'<span class="icon--arrow-right pagination__direction-icon"></span>'
        }) }}
    {% endif %}
{% endif %}
