{% set count = 0 %}
{% if pagerfanta.nbResults > 0 %}
    {% for article in pagerfanta.currentPageResults %}
        {% set articlenode = get_node_translation_for(article) %}
        <article class="col-md-4">
            <div class="inner-article">
                {{ render_pageparts(article, 'image') }}
                <div class="post-info-caption">
                    {#<div class="post-info">#}
                        <time class="blog-item__head__meta">
                            {{ article.date | localizeddate('medium', 'none') }}
                        </time>
                        <h3 class="blog-item__head__title">
                            {{ article.title }}
                        </h3>
                        <a href="{{ '/'~articlenode.url }}">
                            {{ "Lire l'article"|trans }}
                        </a>
                    {#</div>#}
                </div>

            </div>
        </article>
        {% set count = count + 1 %}
    {% endfor %}

    {% if pagerfanta.haveToPaginate() %}
        {{ pagerfanta(pagerfanta, null, {
            'pageParameter': '[page]',
            'prev_message':'<span class="icon--arrow-left pagination__direction-icon"></span>',
            'next_message':'<span class="icon--arrow-right pagination__direction-icon"></span>'
        }) }}
    {% endif %}
{% endif %}
